ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.dll
ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.pdb
ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfo.cs
ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfoInputs.cache
ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.FileListAbsolute.txt
ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.dll
ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.pdb
ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.sourcelink.json
ConsoleApp1/obj/Debug/net8.0/ref/ConsoleApp1.dll
ConsoleApp1/obj/Debug/net8.0/refint/ConsoleApp1.dll
